/* black  #171717*/
/* yellow  #F9B234 */
/* blue #1B2690 */
/* silver  #b7b7b7 */

body {
    font-family: 'Montserrat', sans-serif;
}

.btn-secondary {
    background-color: #b7b7b7;
}

.navbar {
    background-color: #171717;
    border-bottom: 1px solid #333;
}

.nav-item {
    margin-right: 24px;
    font-weight: 200;
}

.nav-item.active a {
    color: #F9B234 !important;
    font-weight: 600;
}

.nav-link span {
    color: #F9B234;
    font-weight: 600;
}

.carousel {
    height: 450px;
    background-color: #171717;
    color: white;
}

.carousel h1 {
    font-family: 'Lora', serif;
}

.carousel p {
    font-weight: 200;
}

.special h3,
.designer h3,
.similar-product h3,
.cart-header h3,
.checkout-modal h3 {
    font-family: 'Lora', serif;
    color: #1B2690;
    font-weight: bold;
}

.special p,
.designer p,
footer p,
.similar-product p,
.cart-header p,
.checkout-modal p {
    font-weight: 200;
    color: #b7b7b7;
}

.figure h5 {
    color: #171717;
}

.figure-img {
    position: relative;
}

.figure-img a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 8px;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    transition: opacity .3s;
}

.figure-img:hover a {
    opacity: 1;
}

footer .link-footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

/* Breadcrumb */
.breadcrumb {
    margin-top: 50px;
}

/* Akhir Breadcrumb */
.product-thumbnail-container {
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    width: 360px;
    padding: 8px;
    margin: auto;
    transform: translateY(-50px);
}

.input-group {
    border-radius: 15px;
    width: 155px;
    height: 40px;
}

.product-thumbnail-container a:hover {
    text-decoration: none;
}

.single-product .input-group-prepend span {
    background-color: #eaeaef;
    color: #171717;
}

.single-product .form-control {
    background-color: white;
    color: #868686;
}

.single-product .input-group-append span {
    background-color: green;
    color: white;
}

.btn-product {
    margin: 60px 0;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
}

.btn-product .btn {
    display: block;
    margin: 10px 0;
}

.design-by h5 {
    font-size: 14px;
    font-weight: 200;
    color: #b7b7b7;
    margin-bottom: 20px;
}

.design-by h4 {
    font-size: 18px;
    color: #171717;
}

.design-by p {
    font-size: 14px;
    font-weight: 200;
    color: #171717;
}

.design-by p span {
    color: #b7b7b7;
}

.product-description {
    background-color: #f6f7fb;
    height: 350px;
}

.product-description .tab-content {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-top: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .3);
}

.product-description .tab-content p {
    font-weight: 200;
    color: #868686;
    line-height: 28px;
    font-size: 16px;
}

.product-review {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.product-review h5 {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 10px;
}

.product-review p {
    font-size: 14px !important;
}

.similar-product {
    margin-top: 180px;
    margin-bottom: 100px;
}

.cart-breadcrumb {
    margin-top: 50px;
}

.checkout {
    margin-bottom: 100px;
}

.checkout p {
    color: #b7b7b7;
}

.detail-checkout {
    background-color: #f6f7fb;
    border: 1px solid #eaeaea;
    color: #171717;
}